// .parallax-row {
//   margin-top: 198px;
//   min-height: 396px;
// }

.parallax-row {
  min-height: 594px;
}

.rounded {
  background-color: white;
  // border: 1px solid black !important;
  // border-radius: 20%;
}

.bg-alt {
  background-color: white;
}

.card {
  width: 18em;
}

.partners {
  min-width: 128px;
  min-height: 128px;
  max-width: 156px;
  max-height: 156px;
}
