.parallax-row {
  min-height: 596px;
}

.rounded {
  background-color: white;
  border: 1px solid black !important;
  border-radius: 20%;
}

.bg-alt {
  background-color: #f8f9fa;
}

.card {
  width: 18em;
}
