.head {
  font-family: "Domine", sans-serif;
  background-color: #e6f0ff;
  border: 1px solid #d7e7ff;
  // background-color: #edf4fc;
  // border: 1px solid rgba(230, 239, 250);
  padding: 12px;
  border-radius: 20px;
}
