.clickable {
  color: black;
  text-decoration: none;
}

.clickable:hover {
  color: black;
  text-decoration: underline;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  margin: 16px;
}

.wrapper {
  display: block;
  position: relative;
  margin: 16px;
  height: 272px;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: opacity 0.15s;
}

.image {
  transition: filter 0.15s;
  background-color: #e5e7eb;
}

.wrapper:hover {
  opacity: 0.7;
}
