.clickable {
  color: black;
  text-decoration: none;
}

.clickable:hover {
  color: black;
  text-decoration: underline;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  margin: 16px;
}

.image {
  display: block;
  position: relative;
  margin: 16px;
  height: 272px;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: opacity 0.15s;
}

.image-loading {
  transition: filter 0.15s;
  filter: blur(40px) grayscale(100%);
  background-color: #e5e7eb;
}

.image-loading-complete {
  transition: filter 0.15s;
  filter: blur(0) grayscale(0);
}

.image:hover {
  opacity: 0.7;
}
