.header {
  color: white;
  font-family: "Domine", sans-serif;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px black;
}

.wrapper {
  overflow: hidden;
  border-radius: 20px;
}

.container {
  margin: 64px 16px 512px 16px;
}

.button {
  box-shadow: 2px 2px black;
}
