.h {
  color: black;
  font-family: "DM Sans", sans-serif;
  font-size: 1.25rem;
  text-align: center;
}

.b {
  font-family: "lato", sans-serif;
  font-size: 1.15em;
  text-align: center;
}

@media (min-width: 768px) {
  .h {
    font-size: 1.5em;
  }
  .b {
    font-size: 1.25em;
    text-align: justify;
  }
}
