.container {
  position: relative;
  width: 100%;

  > span {
    position: relative !important;
  }

  .base {
    transition: filter 0.15s;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
    background-color: #e5e7eb;
  }
}
