.height-sm {
  min-height: 398px;
}

.height-md {
  min-height: 596px;
}

.text {
  color: white;
  font-family: "Domine", sans-serif;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px black;
}

@media (max-width: 992px) {
  .height-sm {
    min-height: 298px;
  }
  .height-md {
    min-height: 447px;
  }
  .text {
    font-size: 2.5em;
  }
}

@media (max-width: 576px) {
  .height-sm {
    min-height: 200px;
  }

  .height-md {
    min-height: 298px;
  }
  .text {
    font-size: 2.3em;
  }
}
