.clickable {
  color: black;
  text-decoration: none;
}

.clickable:hover {
  color: black;
  text-decoration: underline;
}

.container {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: "DM Sans", sans-serif;
  margin: 16px;
  width: 100%;
}

.post {
  padding-bottom: 3em;
}

.post + .post {
  padding-top: 3em;
}
