.wrapper {
  background-color: #f8f9fa;
}

.item {
  min-height: 512px;
  width: 100%;
  max-width: 1296px;
  font-size: 1em;
  margin: auto;
}

.image-container {
  position: relative;
  width: 100%;
  margin: auto;
  max-width: 224px;
}

.bg {
  background-color: #f8f9fa;
}

.hh {
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px black;
}

.h {
  font-family: "Satisfy", cursive;
  font-size: 3em;
  text-align: center;
}

.t {
  font-size: 3em;
  text-align: center;
}

.b {
  font-size: 1.15em;
}
