.image {
  position: relative;
  max-width: 256px;
  margin: 1em auto;
}

.referral {
  margin: 1em;
  border: 2px solid transparent;
}

.referral:hover {
  border: 2px solid black;
}

.p {
  font-family: "lato", sans-serif;
  font-size: 1.15em;
}

.bg-alt {
  background-color: #f8f9fa;
}

.card {
  width: 18em;
}
